[Unit]
Description=PiLN Kiln Controller firing daemon

[Service]
Type=simple
WorkingDirectory=/home/pi/git/MyPiLN/daemon
ExecStart=/home/pi/git/MyPiLN/daemon/pilnfired.py
Restart=always

[Install]
WantedBy=multi-user.target
